In [1]:
import pandas as pd
import numpy as np

from collections import Counter

In [2]:
MIN_INFLUENCED = 0
MAX_INFLUENCED = 18470
Q = 5

In [3]:
df = pd.read_csv('parallel_merge_plurality.csv', names=['k','node','number_influenced','s'])

In [4]:
df.groupby(['node','s'], sort=False)['k'].max()
idx = df.groupby(['node','s'])['k'].transform(max) == df['k']
df_plurality_max_k = df[idx][['node','number_influenced','s']]

In [5]:
df_plurality_max_k = df_plurality_max_k.reset_index(drop=True)
df_plurality_max_k.head()

   node  number_influenced  s
0     9                  1  0
1     9                 65  1
2     9                508  2
3     9               6838  3
4     9              13230  4

In [6]:
categories = pd.qcut(range(MIN_INFLUENCED, MAX_INFLUENCED + 2), Q)
category_converted = [categories.categories.right[i] for i in range(Q)]
category_converted

[3694.2, 7388.4, 11082.6, 14776.8, 18471.0]

In [7]:
results_merge = []

In [8]:
for s in df_plurality_max_k['s'].unique():
    
    results = {}
    results['name'] = 'plurality'
    results['level l'] = s
    df_slide = df_plurality_max_k.loc[df_plurality_max_k['s'] == s].copy()
    
    results['min_value'] = df_slide['number_influenced'].min()
    results['max_value'] = df_slide['number_influenced'].max()
    results['mean'] = df_slide['number_influenced'].mean()
    results['std'] = df_slide['number_influenced'].std()
    
    categorized_numbers = np.digitize(df_slide['number_influenced'], category_converted)
    dict_counter = Counter(categorized_numbers)
    
    for x in dict_counter.keys():
        results['q{}'.format(x+1)] = dict_counter[x]
        
    results_merge.append(results)

In [9]:
pd.DataFrame(results_merge).fillna(0).round(2)[['name','level l','max_value','min_value','mean','std','q1','q2','q3','q4','q5']]

,name,level l,max_value,min_value,mean,std,q1,q2,q3,q4,q5
0,plurality,0,42,1,1.16,0.77,18470.0,0.0,0.0,0.0,0.0
1,plurality,1,1409,2,12.07,39.23,18470.0,0.0,0.0,0.0,0.0
2,plurality,2,4917,3,468.78,698.60,18395.0,75.0,0.0,0.0,0.0
3,plurality,3,13453,4,2488.34,2171.45,13824.0,4018.0,593.0,35.0,0.0
4,plurality,4,17196,5,8114.38,4000.93,3201.0,4024.0,6365.0,4363.0,517.0
5,plurality,5,18214,10,13390.90,3940.16,824.0,842.0,2176.0,6047.0,8581.0
6,plurality,6,18385,11,16825.21,2593.43,215.0,168.0,359.0,1065.0,16663.0
7,plurality,7,18454,12,17893.60,1621.78,98.0,48.0,97.0,255.0,17972.0
8,plurality,8,18469,102,18279.78,862.31,17.0,4.0,94.0,40.0,18315.0
9,plurality,9,18470,478,18412.90,413.15,4.0,5.0,7.0,23.0,18431.0
10,plurality,10,18470,2924,18454.74,195.71,1.0,1.0,1.0,6.0,18450.0
11,plurality,11,18470,12885,18466.40,66.83,0.0,0.0,0.0,2.0,17504.0
12,plurality,12,18470,16973,18468.51,21.46,0.0,0.0,0.0,0.0,8786.0
13,plurality,13,18470,18212,18468.76,9.58,0.0,0.0,0.0,0.0,2113.0
14,plurality,14,18470,18397,18469.04,5.73,0.0,0.0,0.0,0.0,408.0
15,plurality,15,18470,18463,18469.79,0.94,0.0,0.0,0.0,0.0,105.0
16,plurality,16,18470,18469,18469.92,0.28,0.0,0.0,0.0,0.0,13.0
17,plurality,17,18470,18470,18470.00,0.00,0.0,0.0,0.0,0.0,2.0